
html { overflow:  hidden; }

body {
  background-image: linear-gradient(rgba(29,35,53, 0.6) 10%, rgba(17,23,41, 0.6) 80%), url('./img/background.png');
  background-size: cover;
  overflow: hidden;
}

#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}